@attribute [StreamRendering]
@inject ILogger<ListDocument> Logger
@rendermode InteractiveServer

<h3>Upload document</h3>

<EditForm EditContext="editContext" FormName="uploadDoc" OnSubmit="@(async()=> await SubmitForm())">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label class="form-label">Document name</label>
        <InputText class="form-control" @bind-Value="uploadDocForm!.DocumentName" />
        <ValidationMessage For="()=> uploadDocForm.DocumentName" />
    </div>
    <div class="mb-3">
        <label class="form-label">File document</label>
        <InputFile class="form-control" oncancel="OnCancel" OnChange="LoadFile" multiple="false" />
        <ValidationMessage For="()=> uploadDocForm.FileName" />
    </div>
    <div class="mb-3">
        <button class="btn btn-primary" type="submit">Upload</button>
        <button class="btn btn-secondary" onclick="@(async ()=> Reset())" type="button">Reset</button>
    </div>
</EditForm>


<h3>Document list</h3>

@if (documents == null)
{
    <p><em>Refreshing...</em></p>
}
else
{
    <QuickGrid Items="@documents">
        <TemplateColumn Title="Action" Class="selection-column" Align="Align.Center">
            <button type="button" @onclick="@(() => RemoveDocument(context.Id))"
                    class="btn btn-secondary btn-sm">
                Remove
            </button>
        </TemplateColumn>
        <PropertyColumn Property="@(p=> p.Id)" Title="Document id" Sortable="true" />
        <PropertyColumn Property="@(p=> p.Name)" Sortable="true" />
        <TemplateColumn Title="Link">
            <a href="@context.Url" target="_blank">here</a>
        </TemplateColumn>
    </QuickGrid>
}

@code {
    [Inject]
    private IWatsonDiscoveryService watsonDiscovery { get; set; } = default!;
    private IQueryable<Document>? documents;

    [Inject]
    private DocumentContext documentContext { get; set; } = default!;

    private EditContext? editContext;
    [SupplyParameterFromForm]
    private UploadDocumentForm? uploadDocForm { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Reset();
        documents = documentContext.Documents.ToList().AsQueryable();
        await Task.CompletedTask;
    }

    private async Task LoadFile(InputFileChangeEventArgs e)
    {
        MemoryStream memoryStream = new();
        await e.File.OpenReadStream().CopyToAsync(memoryStream);

        // Save to local
        var filePath = Path.Combine(Directory.GetCurrentDirectory(), @"wwwroot/data", e.File.Name);
        await using FileStream fs = new(filePath, FileMode.Create);
        await e.File.OpenReadStream().CopyToAsync(fs);
        fs.Close();

        uploadDocForm!.FileName = filePath;
        memoryStream.Close();
    }


    private async Task Reset()
    {
        uploadDocForm = new();
        editContext = new(uploadDocForm);
        await Task.CompletedTask;

    }

    private async Task RemoveDocument(string collectionId)
    {
        var doc = documentContext.Documents.FirstOrDefault(d => d.Id == collectionId);
        documentContext.Documents.Remove(doc!);
        await documentContext.SaveChangesAsync();

        await watsonDiscovery.RemoveCollection(collectionId);
        documents = documentContext.Documents.ToList().AsQueryable();
    }

    private async ValueTask SubmitForm()
    {
        if (editContext != null && editContext.Validate())
        {
            Logger.LogInformation("Submit called: Form is valid");

            var collectionId = await watsonDiscovery.UploadDocument(uploadDocForm!.FileName!, uploadDocForm!.DocumentName!);
            //var collectionId = Guid.NewGuid().ToString();

            var fileName = Path.GetFileName(uploadDocForm!.FileName!);
            var doc = new Document { Id = collectionId, Name = uploadDocForm!.DocumentName!, Url = $"/data/{fileName}" };
            documentContext.Documents.Add(doc);
            await documentContext.SaveChangesAsync();

            // Refresh list
            await Reset();
            documents = documentContext.Documents.ToList().AsQueryable();
        }
        else
        {
            Logger.LogInformation("Submit called: Form is INVALID");
            //uploadDocForm = new();
        }
    }


}
